### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Project exclude paths

# removes target and out folder
target
out

#intellij files
.idea

# gets generated when running npm install on each system
node_modules/
/data/beam.png
/data/shaders/bloom.frag
/data/bloom.tga
/data/shaders/bloom.vert
/data/bloom_alpha.tga
/data/file.png
/data/fonts/FreeSans.ttf
/cmd/gource
/cmd/gource.cmd
/data/gource.style
/data/fonts/README.txt
/data/shaders/shadow.frag
/data/shaders/shadow.vert
/src/main/webapp/templateHTML/template.html
/data/shaders/text.frag
/data/shaders/text.vert
/data/user.png
