/* Tooltip box */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip tekst */
.tooltip .tooltiptext-mail, .tooltiptext-ww {
    visibility: hidden;
    width: 15rem;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color: #fff;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
/* Toon de tooltip bij hover */
.tooltip:hover .tooltiptext-mail,.tooltip:hover .tooltiptext-ww {
    visibility: visible;
}
