/** Globale inputs en buttons. 
*/
input[type=text]{
    width: 75%
  }
  input[type=email]{
    width: 75%
  }
  input[type=password]{
    width: 75%
  }
    input[type=button] {
      width:auto;

    }
    input[type="button"], button{
      /* outline-style: groove; */
      /* button-outline: none;
      button-shadow:none !important; */
      /* background-color:#18b6d6; */   
      border: none;
      margin: 8px;

      border-radius: 15px;
      background: linear-gradient(to top, slate 0px, darkgray 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 8px rgb(207, 207, 207);
    }
    
    input[type="button"]:hover,    button:hover{
      border: none;
      /* padding: 8px; */
      margin: -8px;

      border-radius: 15px;
      box-shadow: inset 0 0 8px #f9f8fc;
      } 
      .button-delete {
        background-color: rgb(129, 19, 19);
        color: whitesmoke;
      }
      .advanced-search {
          background-color:#deb992;
          color: #181818;
          background: linear-gradient(to top, slate 0px, darkgray 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      }

       