
/* LIGHT MODE: */
.bodyLight {
    background-color: #ccc;
    caret-color: #282828;
    accent-color: #282828;
    color: #282828;
    font-family: 'Bookman Old Style', serif;
}
.bodyLight main {
    border-color: #282828;
}
.bodyLight #header {
    background: rgb(196, 196, 26);
  }
.bodyLight #footer {
    background: #6cf;
  }

/* unvisited link */
.bodyLight a:link {
    color: black;
    text-decoration-color: grey;
}

/* visited link */
.bodyLight a:visited {
    color: Navy;
    text-decoration-color: grey;
}

/* mouse over link */
.bodyLight a:hover {
    color: #800000;
    text-decoration-color: grey;
}

/* selected link */
.bodyLight a:active {
    color: #8ebf42;
    text-decoration-color: grey;
}