#main {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    background: aquamarine;
    padding: 10px;
}

#main label {
    float: left;
    width: 150px;
}

body {
    background-color: black;
    caret-color: white;
    accent-color: white;
    color: white;
    font-family: "Bookman Old Style", serif;

}

.inputfield {
    background-color: inherit;
    color: inherit;
}


h1 {
    color: inherit;
    margin-left: 20px;
}