
/* darkMode MODE: */
#discoball {
    border-style:double;
    border-width: 5px;
    border-color: #A05344;
    position: fixed;
    right: 3rem;
  }

  
.bodyDisco main {
border-style:double;
border-width: 5px;
border-color: #A05344;
}

.bodyDisco {
    background-color: #321F28;
    caret-color: #E79E4F;
    accent-color: #E79E4F;
    color: #E79E4F;
    font-family: 'Bookman Old Style', serif;
}
.bodyDisco .header {
    color: #E79E4F;
    background: #734046;
    padding: 10px;
  }
.bodyDisco #h1 {
    background: #734046;
    color: #A05344;
    padding: 10px;
  }

.bodyDisco #footer {
    font-size: 1.2rem;
    color: #E79E4F;
    background: #734046;
  }
  
/* unvisited link */
.bodyDisco a:link {
    color: #E79E4F;
    text-decoration-color: grey;
}

/* visited link */
.bodyDisco a:visited {
  color: #E79E4F;
  text-decoration-color: grey;
}

/* visited link ONLY FOOTER */
.bodyDisco #footer a:visited {
    color: #E79E4F;
    text-decoration-color: grey;
}

/* mouse over link */
.bodyDisco a:hover {
    color: #800000;
    text-decoration-color: grey;
}

/* selected link */
.bodyDisco a:active {
    color: #8ebf42;
    text-decoration-color: grey;
}


@counter-style disco {
  system: cyclic;
  symbols:"\💃" "\🕺" "\👯";
  suffix: " ";
}

@counter-style hoverdisco {
  system: cyclic;
  symbols: "\💞";
  suffix: " ";
}

.bodyDisco ul {
  list-style: disco;
}

.bodyDisco ul :hover {
  list-style: hoverdisco;
}

.bodyDisco .slider {
  background-color: #A05344; /* achtergrond kleur slider */
}
.bodyDisco .slider:before {
background-color: white;
}
.bodyDisco input:checked + .slider {
  background-color: #E79E4F; /* achtergrond kleur aangezet */
}
.bodyDisco input:focus + .slider {
  box-shadow: 0 0 1px #E79E4F; /* achtergrond kleur focus */
}