/* DARK MODE: */
.bodyDark {
    background-color: #282828;
    /* background-color: #394952; */
    caret-color: #ccc;
    accent-color: #ccc;
    color: #ccc;
    font-family: 'Bookman Old Style', serif;
}
.bodyDark main {
    border-color: #ccc;
}
.bodyDark .header {
    background: rgb(94, 94, 12);
  }
  .bodyDark #footer {
    background: rgb(6, 47, 67);
  }
/* unvisited link */
.bodyDark a:link {
    color: #ccc;
}

/* visited link */
.bodyDark a:visited {
    color: #ccc;
}

/* mouse over link */
.bodyDark a:hover {
    color: #8ebf42;
}

/* selected link */
.bodyDark a:active {
    color: #800000;
}

