table {
    width: 100%;
}
/* tr #header {
    background-color: red;
} */
table, tr, th {
    border: 1px solid;
}
tr:hover #resultaten{
    background-color: red;
}

main{
    max-width: 90%;
}

input :disabled, input[disabled] {
    background-color: gray;
}