table {
    width: 100%;
}
/* tr #header {
    background-color: red;
} */
table, tr, th {
    border: 1px solid;
}
tr:hover #resultaten{
    background-color: red;
}

main{
    max-width: 90%;
}

input :disabled, input[disabled] {
    border-color: lightgray;
    color: #ccc;
    background-color: gray;
    background: linear-gradient(to top, #e6e6e6 0px, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

input[type="button"] #opslaanZoekOpdracht {
    outline-style: groove;
    /* button-outline: none;
    button-shadow:none !important; */
    background-color:#18b6d6;
}
