table {
    width: 100%;
}
/* tr #header {
    background-color: red;
} */
table, tr, th {
    border: 1px solid;
}
tr:hover #resultaten{
    background-color: red;
}

main{
    max-width: 90%;
}

input :disabled, input[disabled] {
    border-color: gray;
    color: gray;
    background-color: gray;
    background: linear-gradient(to top, slate 0px, darkgray 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

input[type="button"] .opslaanZoekOpdracht {
    outline-style: groove;
    /* button-outline: none;
    button-shadow:none !important; */

}

input[type="button"] #deleteZoekertjesButton {
    outline-style: groove;
    /* button-outline: none;
    button-shadow:none !important; */
    background-color:red;
}
